/* forms */

#content ul.gform_fields {
	padding-left:0;
}
input[type="submit"], input.button, 
.gform_button {
	border: 1px solid var(--core-blue);
	cursor: pointer;
	font-size: 26px;
	padding: 15px 40px;
	background-color: transparent;
	color: var(--cool-gray-11);
	&:hover, &:focus {
		background-color: #343741;	
		color: #fff;		
	}
}