/* forms */

#content ul.gform_fields {
	padding-left:0;
}
input[type="submit"], input.button, 
.gform_button {
	// border: 1px solid var(--core-blue);
	// cursor: pointer;
	// font-size: 26px;
	// padding: 15px 40px;
	// background-color: transparent;
	// color: var(--cool-gray-11);
	// &:hover, &:focus {
	// 	background-color: #343741;	
	// 	color: #fff;		
	// }
}
.form-ufl {
	.gform_legacy_markup_wrapper .gfield_checkbox li input,
	.gform_legacy_markup_wrapper .gfield_checkbox li input[type="checkbox"],
	.gform_legacy_markup_wrapper .gfield_radio li input[type="radio"] {
		display:none;
	}	
}
#main-content.form-ufl {
	.field_sublabel_below input+label, .field_sublabel_below select+label,
	.field_sublabel_below select+button+label, .field_sublabel_below .bootstrap-select+label {
	    margin-top: 0px;
	    margin-bottom: 0px;
	}
	 input[type=text], input[type=tel], input[type=time], input[type=email], 
	 input[type=number], select, select+button {
	 	margin-bottom:8px;
	 }

}

#main .gform_wrapper .gfield_required, 
#main-content.form-ufl .gfield_required {
	color: var(--core-blue);
}
