/* custom styling */
:root{
	--core-orange: #FA4616;
	--core-blue: #0021A5;

	--bottlebrush: #D32737;
	--alachua: #F2A900;
	--gator: #22884C;
	--dark-blue: #002657;
	--perennial: #6A2A60;

	--cool-gray-11: #343741;
	--cool-gray-3: #C7C9C8;
	--warm-grey-1: #D8D4D7;
	--light-gray: #f4f6f6;

	--social-media-icons-background: #3350a5;
	--social-media-icons-background-hover: #ffffff;
	--social-media-icons-hover: #0021a5;
	--header-gradient-1: #0021a5;
	--header-gradient-2: #011877;
	--header-gradient-3: #00d4ff;
	--light-weight-sans: "IBM Plex light";
	--book-weight-sans: "IBM Plex regular";
	--medium-weight-sans: "IBM Plex medium";
	--medium-italic-sans: "IBM Plex medium italic";
	--semi-bold-sans: "IBM Plex semibold";
	--book-bold-sans: "IBM Plex bold";
	--bold-italic-sans: "IBM Plex bold italic";
	--extrabold-italic-sans: "IBM Plex bold italic";
	--display-script: "Cinema Script"
}
body {
	font-family:var(--book-weight-sans), Arial, sans-serif;
}
.has-light-gray-background-color {
	background:var(--light-gray);
}
.has-dark-gray-background-color {
	background:var(--cool-gray-11);
}
.has-blue-background-color {
	background:var(--core-blue);
}
.has-blue-background-color,
.has-dark-gray-background-color {
	h2,h3,h4,h5,h6,p,li,a {
		color:#fff;
	}
	a {
		&:link, &:visited {
			color:#fff;
			text-decoration: underline;
		}
		&:hover, &:active, &:focus {
			text-decoration:none;
		}
	}
}
.has-orange-background-color {
	background:var(--core-orange);
}
.has-blue-color {
	color: var(--core-blue);
}
.has-orange-color {
	color: var(--core-orange);
}
.header, 
.section-navigation .section-navigation-inner {
	z-index: 99998;
}

/* footer */

.footer-wrapper .footer .footer-section .widget-title {
	font-size: 1.75rem;
	line-height: 2rem;
}
footer {
	h2 {
		border-bottom: 4px solid #e8552f;
		font-family: var(--semi-bold-sans), Arial, sans-serif;
		font-size: 1.75rem;
		line-height: 2rem;
		text-align: left;
		color: #fff;
		padding-bottom: 1.5rem;
		margin-bottom: 1.5rem;
	}
}
#content .footer_widget {
	ul {
		list-style: none;
		padding-left: 0;
		li {
			padding-left: 0;
		}
	}
}
.ufl-linkedin,
.ufl-flickr,
.ufl-feed {
	max-width: 25px;
}
.footer-col-social {
	flex-wrap: wrap; 
}
.copyright-section p {
	margin:0;
	color: #fff;
}

/* content */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	word-break: normal;
}

h2,.h2 {
	font-size: 2.25rem;
	line-height: 2.625rem;
}
h3,.h3 {
	font-size: 2rem;
	line-height: 2.25rem;
}
h4,.h4 {
	font-size: 1.75rem;
	line-height: 2rem;
}
h5,.h5 {
	font-size: 1.5rem;
	line-height: 1.785rem;
}
h6,.h6 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-family: var(--semi-bold-sans), Arial, sans-serif;
}
p {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
@media (min-width:800px) {
	h2,.h2 {
		font-size: 3.625rem;
		line-height: 4rem;
	}	
	h3,.h3 {
		font-size: 3rem;
		line-height:3.5rem;
	}
	h4,.h4 {
		font-size: 2rem;
		line-height: 2.5rem;
	}
	h5,.h5 {
		font-size: 1.875rem;
		line-height: 2.375rem;
	}
}

.featured-full-width-img {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.featured-full-width-img h1 {
	padding: 10px 15px;
	background-color: #000;
	color:#fff;
}
.wp-post-image {
	max-width: 100%;
	height:auto;
}
.entry-header h1 {
	font-size: 3rem;
	line-height: 3.25rem;
}
.page-template .entry-header h1 {
	@media (min-width:800px) {
		font-size: 4.5rem;
		line-height: 5.5rem;
	}
}
.entry-content a, .fullwidth-text-block a, .single-news-body-content a {
	font-family: var(--medium-weight-sans), Arial, sans-serif;
	text-decoration: underline;
}
.entry-content a, .fullwidth-text-block a {
	.wp-block-button a, a.button {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}
a, .page-link {
	color:var(--core-blue);
}
a:hover, a:focus {
	color:var(--black);
}
.page-link:hover, .page-link:focus {
	color:var(--black);
	background-color: var(--warm-grey-1);
	border-color: var(--warm-grey-1);
}

#content {
	ul {
		list-style:none;
	}
	ul.wp-block-latest-posts,
	ul.wp-block-post-template {
		padding-left:0;
		
	}
	ol {
		li::before {
	    	display: inline;
	    }
	}
	.dropdown-menu, .gform_fields, .wp-block-query, .wp-block-latest-posts {
		li::before {
			content:"";
		}
	}
	.wp-block-latest-posts__featured-image {
	&.alignleft, &.alignright {
		margin-bottom:1em;
	}
} 
	div.wp-block-rss__item-title {
		display: inline;
	}

  p.intro {
    display: block;
    font-size: 22px;
    line-height: 32px;
    color: #343741;
    font-family: "IBM Plex medium";
    margin-bottom: 20px;

    @media (min-width: 800px) {
      margin-bottom: 40px;
      font-size: 26px;
      line-height: 38px;
    }
  }
}
#sidebar {
	h2 {
		@media (min-width:800px) {
			font-size: 2.25rem;
  			line-height: 2.625rem;
		}
	}
	.widget {
		ul, ol{
			padding-left:0;
		}
	}
}

.blog-post-title {
	font-size: 2.25rem;
	line-height: 2.625rem;
}
.post-thumbnail .figure-caption {
	margin-top: -0.75rem;
}

// social shares in stories
#st-1 .st-btn[data-network="linkedin"] {
	display:inline-block !important;
}
footer .date-share-wrapper {
	padding: 20px 0;
}

// ufl blocks
.news-landing-header .news-hero-featured,
.cta-button-wrapper .cta-button .cta-title,
.visual-navigation .visual-navigation-wrapper .visual-navigation-link p {
	z-index: 9999;
}
.hero-caption {
	background: var(--cool-gray-11);
	color: #fff;
	font-size: 16px;
	padding: 1em;
}
.visual-navigation {
	padding-top:40px;
	padding-bottom: 0;
}
.fullwidth-text-block {
	.container {
		padding-top:45px;
		@media (min-width: 800px) {
			h3 {
				font-size: 2.5rem;
				line-height:3rem;
			}
		}
	}
}
.tab-block {
	.tab-block-wrapper {
		align-items:baseline;
	}
	.tab-block-wrapper .desktop-tab-link-col .tab-link {
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 36px;
	}
	h2 {
		margin-bottom: 2rem;
		font-family: var(--book-weight-sans), Arial, sans-serif;
	}

}
// make sure links within ufl blocks are underlined for accessibility
.accordion .accordion-item .accordion-body .accordion-body-wrap a,
.card-right-rail-section .container a {
	text-decoration:underline;

	&:hover, &:focus {
		text-decoration:none;
	}
}

// buttons
.is-style-animated-underline .wp-block-button__link {
	border-left-width: 0;
	border-right-width: 0;
}
.btn-outline-primary {
	--bs-btn-color: var(--core-blue);
	--bs-btn-border-color: var(--core-blue);
	--bs-btn-hover-bg: var(--core-blue);
	--bs-btn-hover-border-color: var(--core-blue);
	--bs-btn-active-bg: var(--core-blue);
	--bs-btn-active-border-color: var(--core-blue);
	--bs-btn-disabled-color: var(--core-blue);
	--bs-btn-disabled-border-color: var(--core-blue);
}
.wp-block-file__button {
	color: #fff !important;
	&:hover, &:active, &:focus {
		background: var( --bs-gray-200);
		color: #000 !important;
	}

}
// category block styling
.wp-block-post-terms {
	padding: 12px 7%;
	font-size: 16px;
	line-height: 28px;
}

// text links in dark bg areas
// featured video
.featured-video {
	.card-title a, .card-description a {
		&:link, &:visited {
			color:#fff;
		}
		&:hover, &:active, &:focus {
			text-decoration:none;
		}
	}
}

//things that don't work, so we're hiding them
#facultyLoadmore  {
	display:none;
}

// post meta
.entry-meta {
	font-size: 1rem;
	>span:after {
		content:"/";
		padding:0 .45em
	}
	>span:last-child:after {
	  display:none
	}
}

