:root{
	--core-orange: #FA4616;
	--core-blue: #0021A5;

	--bottlebrush: #D32737;
	--alachua: #F2A900;
	--gator: #22884C;
	--dark-blue: #002657;
	--perennial: #6A2A60;

	--cool-gray-11: #343741;
	--cool-gray-3: #C7C9C8;
	--warm-grey-1: #D8D4D7;
	--light-gray: #f4f6f6;
}
.has-light-gray-background-color {
	background:var(--light-gray);
}
.has-dark-gray-background-color {
	background:var(--cool-gray-11);
}
.has-blue-background-color {
	background:var(--core-blue);
}
.has-blue-background-color,
.has-dark-gray-background-color {
	h2,h3,h4,h5,h6,p,li,a {
		color:#fff;
	}
	a {
		&:link, &:visited {
			color:#fff;
			text-decoration: underline;
		}
		&:hover, &:active, &:focus {
			text-decoration:none;
		}
	}
}
.has-orange-background-color {
	background:var(--core-orange);
}
.has-blue-color {
	color: var(--core-blue);
}
.has-orange-color {
	color: var(--core-orange);
}
.header, 
.section-navigation .section-navigation-inner {
	z-index: 99998;
}

/* footer */
.ufl-linkedin,
.ufl-flickr,
.ufl-feed {
	max-width: 25px;
}
.footer-col-social {
	flex-wrap: wrap; 
}
.copyright-section p {
	margin:0;
	color: #fff;
}

/* content */
.featured-full-width-img {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.featured-full-width-img h1 {
	padding: 10px 15px;
	background-color: #000;
	color:#fff;
}
.wp-post-image {
	max-width: 100%;
	height:auto;
}
.entry-header h1 {
	font-size:48px;
  line-height:54px;
}
@media (min-width:800px) {
.entry-header h1 {
  font-size:62px;
  line-height:68px
 }
}
.post-template .entry-header h1 {
	font-size:48px;
  line-height:54px;
}
.entry-content a {
  font-family: "gentonamedium";
  color: #0021a5;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: #000;
  }
}
.fullwidth-text-block, .entry-content {
	.wp-block-button a, a.button {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}
a, .page-link {
	color:var(--core-blue);
}
a:hover, a:focus {
	color:var(--black);
}
.page-link:hover, .page-link:focus {
	color:var(--black);
	background-color: var(--warm-grey-1);
	border-color: var(--warm-grey-1);
}

#content {
	ul.wp-block-latest-posts,
	ul.wp-block-post-template {
		padding-left:0;
		list-style:none;
	}
}
.wp-block-latest-posts__featured-image {
	&.alignleft, &.alignright {
		margin-bottom:1em;
	}
} 

// ufl blocks
.news-landing-header .news-hero-featured,
.cta-button-wrapper .cta-button .cta-title,
.visual-navigation .visual-navigation-wrapper .visual-navigation-link p {
	z-index: 9999;
}
.hero-caption {
	background: var(--cool-gray-11);
	color: #fff;
	font-size: 16px;
	font-family: gentonabookitalic;
	padding: 1em;
}
.visual-navigation {
	padding-top:40px;
	padding-bottom: 0;
}
.fullwidth-text-block {
	.container {
		padding-top:0;
	}
}
.tab-block .tab-block-wrapper {
	align-items:baseline;
}

// buttons
.is-style-animated-underline .wp-block-button__link {
 	border-left-width: 0;
 	border-right-width: 0;
}

/* category block styling */
.wp-block-post-terms {
	padding: 12px 7%;
	font-size: 16px;
	line-height: 28px;
}

// text links in dark bg areas
// featured video
.featured-video {
	.card-title a, .card-description a {
		&:link, &:visited {
			color:#fff;
		}
		&:hover, &:active, &:focus {
			text-decoration:none;
		}
	}
}

//things that don't work, so we're hiding them
#facultyLoadmore  {
	display:none;
}


