/* ---------------------------
Navigation
----------------------------*/

// primary nav 
.header #main-nav-ul .nav-link {
  text-transform:uppercase;
  margin-top:8px;
  margin-bottom:0;
  padding-bottom:0;
  border-bottom:#fa471600 2px solid;
 }
 .header #main-nav-ul li:hover .nav-link,
 .header #main-nav-ul li:focus .nav-link,
 .header #main-nav-ul li:focus-within .nav-link {
  border-bottom:2px solid var(--core-orange)
 }
 .header #main-nav-ul .dropdown-menu li {
    line-height:30px;
}
 .dropdown-item {
 	white-space:normal;
  padding: .25rem .5rem;
 	display:inline-block;
 }
.dropdown-item.active,
.dropdown-item:active {
	background-color: var(--core-blue);
  color: #fff;
}

@media (max-width:1409px) {
  .header .dropdown-menu a.active:hover, .header .dropdown-menu a.active:focus {
    color: var(--cool-gray-11) !important;
  }
  .header .dropdown-menu a.active {
    color: var(--bs-dropdown-link-active-color) !important;
  }
  // override appearance change for main nav dropdowns with few items in mobile view (parent theme patch)
  #main-nav-ul>li>ul.navbar-one-column.dropdown-menu,
  #main-nav-ul>li>ul.navbar-two-columns.dropdown-menu {
    min-width: auto;
    column-count: auto;
  }
}

// section navigation
.page-template-page-section-nav .section-navigation {
	top:120px;
}

// alt text/empty alt attribute for decorative images
.section-navigation .section-navigation-inner .section-navigation-toggler .open-btn::before {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="7.464" height="15.64" viewBox="0 0 7.464 15.64"><path id="Path_13869" data-name="Path 13869" d="M0,5.917,7.35,0,14.7,5.917" transform="translate(6.501 0.47) rotate(90)" fill="none" stroke="%23000" stroke-width="1.5"/></svg>') / 'Open';
}
.section-navigation .section-navigation-inner .section-navigation-toggler .close-btn::before {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="13.717" height="13.719" viewBox="0 0 13.717 13.719"><g id="section-nav-close" transform="translate(-547.969 -750.969)"><path id="Path_13736" data-name="Path 13736" d="M-13953.17-19808.256l-12.656,12.656" transform="translate(14514.325 20559.756)" fill="none" stroke="%23000" stroke-width="1.5"/><path id="Path_13737" data-name="Path 13737" d="M-13965.826-19808.256l12.656,12.656" transform="translate(14514.325 20559.756)" fill="none" stroke="%23000" stroke-width="1.5"/></g></svg>') / '';
}

// fix for safari
@media (min-width: 1410px) {
    .header #main-nav-ul .dropdown-menu li{
        margin-bottom: 0;
        padding-bottom: 10px;
    }
}